<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">

<dom-module id="app-toaster">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <paper-toast id="toast" text="{{text}}"></paper-toast>
  </template>

  <script>
    Polymer({

      is: 'app-toaster',
      ready: function(){
        window.addEventListener('app-toaster-show',this._showText.bind(this));
      },
      Observer: [
        '_showText(text)'
      ],
      properties: {
        text: {notify: true ,type: String, value: 'app-toaster',},
      },
      _showText: function(e){
        this.text = e.detail.text;
        this.$.toast.show();
      }

    });
  </script>
</dom-module>
