<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="./fonts.html">



<dom-module id="episode-tile">
  <template>
    <style include='iron-flex iron-flex-alignment'>
      :host {
        display: block;
        @apply(--layout-vertical);
        @apply(--layout-center);
        font-family: 'elliot'
        background: black;
        max-width: 321px;
      }
      #container{
        padding-top: 82px;
        @apply(--layout-vertical);
        @apply(--layout-center);
        min-width: 316px;
        max-width: 321px;
        min-height: 754px;
        background-size: cover;
        background-position: center;
      }
      paper-button{
        letter-spacing: 3px;
        padding: 14px 24px;
        margin-bottom: 92px;
        min-width: 144px;
        border-radius: 4px;
        font-family: 'elliot';
        font-weight: bold;
        color: white;
        /*border-width: 2px;*/
        /*border-style: solid;*/
        /*border-color: white;*/
      }
      span#flex{
        @apply(--layout-flex)
      }
      span{
        padding: 0px 64px;
        text-align: center;
        color: white;
      }
      .header{
        text-transform: capitalize;
        font-size:24px;
        font-weight: bold;
        letter-spacing: 2px;
      }
      .name{
        color:black;
      }
      .occupation{
        color: grey
      }
      .subheader{
        font-weight: bold;
        font-size: 12px;
        padding: 12px 0px;
        min-height: 144px;
      }
      iron-image{
        border-radius: 250px;
      }
      paper-button.green{
        background: rgb(92, 152, 119)
      }
      paper-button.blue{
        background: rgb(84, 89, 150)
      }
      paper-button.orange{
        background: rgb(196, 102, 34)
      }
    </style>
    <div id='container'>
      <span id='flex'></span>
      <iron-image height='250' width='250' sizing='contain' src='{{profileImage}}'></iron-image>
      <span id='flex'></span>
      <span class='header name'>{{mentor.name}}</span>
      <span class='header occupation'>{{mentor.occupation}}</span>
      <span class='subheader'>{{mentor.description}}</span>
      <span id='flex'></span>
      <paper-button on-click='_goToChaptersView' class$='{{_colorButton(index)}}'>episode {{_index(index)}} </paper-button>
      <!-- <span id='flex'></span> -->
    </div>
  </template>

  <script>
    Polymer({

      is: 'episode-tile',

      ready: function(){
        this._cloudinary = require('cloudinary');
        this._cloudinary.config(require('./config.json').cloudinary);
      },
      observers: [
        '_setBackgroundImage(mentor)',
      ],
      properties: {
        prop1: {  type: String,value: 'episode-tile',},
        image: {  type: String,value: 'episode-tile',},
        mentor: {  notify: true},
        page: {  notify: true},
        index: {  notify: true},
        profileImage: {  notify: true},

      },
      _colorButton: function(index){
        var classes = ['green','blue','orange'];
        return classes[index];
      },
      _setBackgroundImage: function(mentor){
        this.async(function(){
          this.profileImage = this._cloudinary.url(mentor.profileImage.options.public_id+'.png', {width: 500, height: 500, crop: "fill", gravity: "face",background: 'black', opacity: 75});
        });
      },

      _index: function(index){
        return index + 1;
      },
      _goToChaptersView: function(e){
        this.page = '/chapters-view/' + this.index;
      }
    });
  </script>
</dom-module>
