<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="episode-tile.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="./fonts.html">

<dom-module id="episodes-view">
  <template>
    <style is='custom-style' include='iron-flex iron-flex-alignment'>

      :host {
        display: block;
        @apply(--layout-vertical);
        @apply(--layout-center);
        font-family: 'elliot'
      }

      .banner{
        color: rgb(65, 65, 65);
        background: rgb(190, 190, 190);
        text-align: center;
        border-radius: 2px;
        margin: 16px 16px;
        padding: 6px 6px;
        font-size: 24px;
        font-weight: bold;
      }
    </style>
    <span class='banner self-stretch'>Get started by choosing a speaker</span>

    <div class='layout horizontal'>
      <template is='dom-repeat' items='{{lineup}}'>
        <episode-tile mentor='{{item}}' index='{{index}}' page='{{page}}'></episode-tile>
      </template>
    </div>
  </template>

  <script>
    Polymer({

      is: 'episodes-view',

      ready:function(){
        // this._cloudinary = require('cloudinary');

        // console.log(this._cloudinary);

      },
      properties: {
        lineup: {notify:true},
        page: {notify:true},
      }
    });
  </script>
</dom-module>
