<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="login-view">
  <template>
    <style include='iron-flex-alignment iron-flex-factors iron-flex iron-positioning'>
      :host {
        min-height: 679px;
        display: block;
        background-image: url('../images/login_bg.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0px 44px;
        @apply(--layout-layout)
        @apply(--layout-vertical)
        @apply(--layout-center)
      }
      div{
        @apply(--layout-horizontal);
      }
      paper-input.hide-signup{
        display: none;
      }
      .login-blur{
        background: rgba(226, 210, 205,.7);
        -webkit-filter: blur(15px);
        min-height: 300px;
        min-width: 500px;
        /*max-width: 500px;*/
      }
      .extended-login-blur{
        min-height:444px;
      }
    </style>
    <div id='blur' class='login-blur fixed-top'>
    </div>
    <div class='layout vertical center'>

      <paper-input placeholder='username' value='{{username}}'></paper-input>
      <paper-input placeholder='password' value='{{password}}' type='password'></paper-input>
      <paper-input id='confirmPassword' class$='{{hideSignup}}' type='password' placeholder='confirm password' value='{{confirmPassword}}'></paper-input>
      <paper-input id='teacherInput' class$='{{hideSignup}}' placeholder='access teacher' value='{{teacher}}'></paper-input>
      <!-- <paper-input id='usernameInput' class$='{{hideSignup}}' placeholder='username' value='{{username}}'></paper-input> -->
      <div>
        <paper-button id='action' on-click='_accountHandler'>{{actionName}}</paper-button>
        <paper-button id='toggle' on-click='_toggleViewState'>{{toggleName}}</paper-button>
      </div>
    </div>

  </template>

  <script>
    Polymer({

      is: 'login-view',
        observers: [
          '_autogrowBlur(state)'
        ],
        properties:{
          //input field values
          // username: {value:'manager2',notify: true},
          username: {value:'student1a@test.com',notify: true},
          password: {value:'Student1a',notify: true},
          confirmPassword: {value:'Student1a',notify: true},
          teacher: {value: '2040ec34683df73861f1c7a2b63131f092453aca',notify: true},

          //whether the view is in signup mode or login mode, true->login, false->signup
          //the rest of the properties are computed automatically following a change of the
          //'state' property
          state: {value:true, type: Boolean, notify: true},
          //the string class of the signup specific input fields, either '' or 'hide-signup'
          hideSignup: {type: Boolean, notify: true, computed: '_hideSignup(state)'},
          //label for the submit button
          actionName: {value: 'login', notify: true, computed: '_actionName(state)'},
          //label for the toggle view button
          toggleName: {value: 'new user',notify: true, computed: '_toggleName(state)'},
          //handler for the submit button click
          _accountHandler: {value: this._login, notify: true, computed: '_setAccountHandler(state)'},
        },
        _autogrowBlur: function(state){
          this.toggleClass('extended-login-blur', !state,this.$.blur);
        },
        //toggle the accounthandler and stylings between login and signup
        _toggleViewState: function(e){
          this.state = !this.state;
        },

        //toggle the display of signup specific fields
        _hideSignup: function(state){
          return state ? 'hide-signup' : '';
        },

        //flip the state of the handler between login and signup
        _setAccountHandler: function(state){
          return (state) ? this._login : this._signup;
        },

        //send 'user' object to pouch api for login
        _login: function(e){
          console.log('login');
          this.fire('pouchdb-api-login',{
            user:{
              username: this.username,
              password: this.password
            }
          });
        },

        //send 'newUser' object off to the pouch api for signup
        _signup: function(e){
          console.log('signup');
          this.fire('pouchdb-api-signup',{
            newUser:{
              // username: this.username.trim(),
              password: this.password.trim(),
              confirmPassword: this.confirmPassword.trim(),
              username: this.username.trim(),
              teacherToken: this.teacher.trim()
            }
          });
        },

        //toggle the names on the submit and toggle buttons based on the state of the view
        _toggleName: function(state){
          return state ? 'new user' : 'back to login';
        },
        _actionName: function(state){
          return !state ? 'signup' : 'login';
        }
    });
  </script>
</dom-module>
