<!--
  The purpose of this element is to expose a middleware on top of pouchdb for others
  elements in the app to inferface with threw custom events

 -->
<link rel="import" href="../bower_components/polymer/polymer.html">
<script src="../bower_components/pouchdb/dist/pouchdb.min.js"></script>
<script src="../bower_components/pouchdb-authentication/dist/pouchdb.authentication.min.js"></script>
<script src="../bower_components/pouchdb-upsert/dist/pouchdb.upsert.min.js"></script>

<dom-module id="pouchdb-api">

  <template>

    <style>
      :host {
        display: block;
      }

    </style>

  </template>

  <script>

    Polymer({

      is: 'pouchdb-api',
      ready: function(){
          var Chance = require('chance');
          this.chance = new Chance();
          this.moment = require('moment');
          //create a new db connecetion to the remote couchdb server
          //attach event listeners for exposed api functions
          // this.db = new PouchDB('http://ec2-54-172-123-211.compute-1.amazonaws.com:5984/wam-dev',{skipSetup: true});
          this.db = new PouchDB(require('./config.json').couchdb.wam_dev_url,{skipSetup: true});
          window.addEventListener('pouchdb-api-signup',this._signup.bind(this));
          window.addEventListener('pouchdb-api-login',this._login.bind(this));
          window.addEventListener('pouchdb-api-logout',this._logout.bind(this));
          // this.lineupdb = new PouchDB('http://ec2-34-198-191-150.compute-1.amazonaws.com:5984/wam-lineup');
          this.lineupdb = new PouchDB(require('./config.json').couchdb.wam_lineup_url);
          this._fetchLineup()
            .then(this._filterLineup.bind(this))
            .then((result)=>{
              console.log(result);
            })
            .catch((err)=>{
              console.log(err);
            });

          //logout on init to make sure that cookies are cleared
          // this.db.logout((err,response)=>{
          //   console.log(err)
          //   console.log(response)
          // });
          // this.db.getSession((err,response)=>{
          //   console.log(err)
          //   console.log(response)
          // })
      },
      properties: {
        page: {notify:true},
        user: {notify:true},
        lineup: {notify:true}
      },
      _fetchLineup: function(){
        return new Promise((function(resolve,result){
          resolve(this.lineupdb.allDocs({include_docs: true}));
        }.bind(this)));
      },
      _filterLineup: function(result){
        console.debug('lineup',result);
        this.lineup = result.rows.map(function(row){
          return row.doc;
        },this);
        return this.lineup;
      },
      //signup a new username
      _signup: function(e){
        console.log(e.type);
        console.log(e.detail);
        // newUser:{
        //   password: this.password,
        //   confirmPassword: this.confirmPassword,
        //   username: this.username,
        //   teacherToken: this.token
        // }
        var newUser = e.detail.newUser;
        console.log(newUser.username);
        this.db.signup(newUser.username, newUser.teacherToken,{
          metadata: {
            teacherToken: newUser.teacherToken
          }
        })
          .then((response)=>{
            return newUser;
          })
          .then(this._loginNewUser.bind(this))
          .then(this._updateNewUserPassword.bind(this))
          .then(this._fetchFacilitatorData.bind(this))
          .then(this._createNewUserMetadata.bind(this));
        // this.db.signup(newUser.username,newUser.teacherToken)
        //   .then((response)=>{
        //     console.log(response)
        //     return this._loginNewUser(newUser);
        //   }).catch((err)=>{
        //     console.log(err)
        //   })
      },
      //login first time users with email and token
      _loginNewUser: function(newUser){
        // console.log(newUser)
        return this.db.login(newUser.username, newUser.teacherToken).then((response)=>{
          // console.log(response)
          return newUser;
        }).catch((err)=>{
          console.log(err);
          return err;
        });
      },
      //change passwords for first time logins
      _updateNewUserPassword: function(newUser){
        // console.log(newUser)
        return this.db.changePassword(newUser.username,newUser.password)
          .then((response)=>{
            // console.log(response)
            return this.db.login(newUser.username,newUser.password)
                .then((response)=>{
                  return newUser;
                });
            // return newUser //pass newUser to _updateNewUserPassword
          }).catch((err)=>{
            console.log(err);
            return err;
          });
      },
      _fetchFacilitatorData: function(newUser){
        newUser.pouchdbOpts = {
          auth: {
            username: newUser.username,
            password: newUser.password
          }
        };
        this.tokendb = new PouchDB(require('./config.json').couchdb.wam_token_url,newUser.pouchdbOptions);
        return this.tokendb.get(newUser.teacherToken)
                  .then((doc)=>{
                    console.log(doc);
                    newUser.facilitator = {
                      name : doc.name, organization: doc.organization
                    };
                    return newUser;
                  });
      },
      _createNewUserMetadata: function(newUser){
        var metadata = {
          facilitator: newUser.facilitator.name,
          organization: newUser.facilitator.organization
        };
          return this.db.putUser(newUser.username,{
            metadata: metadata
          })
                    .then((response)=>{
                      console.log(response);
                    }).catch((err)=>{
                      console.log(err);
                    });
      },
      //login an existing user
      _login: function(e){
        console.log(e.type);
        console.log(e.detail);
        // user:{
        //   username: this.username,
        //   password: this.password,
        // }
        var user = e.detail.user;
        this.db.login(user.username,user.password)
          .then((response)=>{
            return this.db.getUser(user.username);
            // return response;
          })
          .then(this._updateRoute.bind(this))
          .catch(function(err){
            console.log(err);
          });
      },
      //logout the current user out
      _logout: function(e){
        this.db.logout()
          .then(this._updateRoute.bind(this))
          .catch((err)=>{
            console.log(err);
          });
      },
      //TODO dont use response.name because admin users have null names.
      //     will have to use something like the roles array instead
      //update the route to chaneg view based on login or logout and fire events
      _updateRoute: function(response){

        console.log(response);
        this._user = response;
        this.user = response;
        this._user.isAdmin = (response.hasOwnProperty('roles') && response.roles.indexOf('_admin') !== -1);
        var isLoggingIn = (response.hasOwnProperty('name') || this._user.isAdmin);
        console.log(this._user);
        console.log(isLoggingIn);

        var notification;
        if(isLoggingIn){
          notification = {
            event: 'login',
            timestamp: this.moment().format()
          };
        } else {
          notification = {
            event: 'logout',
            timestamp: this.moment().format()
          };
        }
        this.fire('wam-notifier-upsert',notification);
        console.info('notification',notification);
        this.fire((isLoggingIn)?'pouchdb-api-user-login':'pouchdb-api-user-logout');
        //response only has name property if the user is logged in
        this.page = (isLoggingIn) ? 'episodes-view': 'login-view';
      }

    });

  </script>

</dom-module>
