<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="wam-notifier">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

  </template>

  <script>
    Polymer({

      is: 'wam-notifier',
      ready: function(){
        //get pouch databases that are needed
        this.moment = require('moment');
        this.tokendb = new PouchDB(require('./config.json').couchdb.wam_token_url);
        window.addEventListener("wam-notifier-upsert",this._onRegisterNotification.bind(this));
        window.addEventListener("pouchdb-api-user-login",this._onUserLogin.bind(this));
      },
      Observer: [
        '_info(user)'
      ],
      properties: {
        text: {notify: true ,type: String, value: 'app-toaster',},
        user: {notify: true ,type: Object},
        facilitator: {notify: true ,type: Object},
        dbPrefix: {notify: true, computed: '_dbPrefix(facilitator.email)'},
        teacherToken: {notify: true , computed: '_user(user.teacherToken)' },
      },
      _dbPrefix: function(email){
        return email.replace(/[@|.|-]/g,'');
      },
      _onUserLogin: function(e){
        this.tokendb.get(this.teacherToken).then((response)=>{
          console.info('token db',response);
          console.info('token db',this);
          this.facilitator = response;
          return this.facilitator;
        })
        .then((facilitator)=>{
          var url = require('.config.json').couchdb.base_url+this._dbPrefix(facilitator.email)+'-notifications';
          this.notificationdb = new PouchDB(url,{skipSetup:true});
          return facilitator;
        })
        .then((facilitator)=>{
          this.notificationdb.post({
            event: 'login',
            timestamp: this.moment().format(),
            user: this.user
          }).then((response)=>{
            console.info('login note response',response);
          }).catch((err)=>{
            console.log(err);
          });
        })
        .catch((err)=>{
          console.debug('tokendb error', err);
        });
      },
      //handle the notfication events all over the app
      _onRegisterNotification: function(e){
        console.info(e.type,e.detail);
        if(e.detail.event == 'login') return;
        var note = e.detail;
        note.timestampe = this.moment().format();
        this.notificationdb.post(note)
          .then((response)=>{
            console.debug('note upsert',response);
          }).catch((err)=>{
            console.debug('note upsert error',err);
          });
        switch(e.detail.event){

        }
      },
      _user: function(val){
        console.info(val);
        return val;
      },
      _info: function(val){
        console.info(val);
      }


    });
  </script>
</dom-module>
