
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="app-toaster.html">
<link rel="import" href="pouchdb-api.html">
<link rel="import" href="wam-notifier.html">

<dom-module id="wearemarcus-app">

  <template>

    <style >
      :host {
        display: block;
        --app-primary-color: black;
        --app-secondary-color: black;
      }
      a{
        color: white;
      }
      app-header {
        background-color: var(--app-primary-color);
        color: #fff;
      }
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        font-family: 'kameron'
      }
      .drawer-list a {
        display: block;
        padding: 0 16px;
        line-height: 40px;
        text-decoration: none;
        color: var(--app-secondary-color);
      }
      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      .drawer-list a.subroute {
        padding-left: 32px;
      }

      iron-pages{
        min-height: 100%;
      }
      .toolbar-spacer{
        width:100%;
      }
    </style>
    <app-toaster></app-toaster>
    <app-location use-hash-as-path route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{episodeRoute}}"></app-route>
    <app-route
        route="{{episodeRoute}}"
        pattern="/:episode"
        data="{{episodeRouteData}}"
        tail='{{chapterRoute}}'></app-route>
    <app-route
        route="{{chapterRoute}}"
        pattern="/:chapter"
        data="{{chapterRouteData}}"></app-route>

    <app-drawer-layout fullbleed responsive-width='12280px'>

      <!-- Drawer content -->
      <app-drawer id='appDrawer' >
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="episodes-view" href='#/episodes-view'>Episodes</a>
          <!-- <a name="view1" href="/view1">View One</a>
          <a name="view2" href="/view2">View Two</a>
          <a name="view3" href="/view3">View Three</a> -->
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header condenses reveals effects="waterfall">
          <app-toolbar class='layout horizontal'>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <iron-image src='../images/wam_logo.png' sizing='contain' width='100' height='47' ></iron-image>
            <paper-icon-button icon="exit-to-app" on-click='_logout'></paper-icon-button>
            <div class='toolbar-spacer'></div>
            <a href='{{lastPage}}'>
              <paper-icon-button icon="arrow-back"></paper-icon-button>
            </a>
          </app-toolbar>
        </app-header>

        <pouchdb-api page='{{routeData.page}}' lineup='{{lineup}}' user='{{user}}'></pouchdb-api>
        <wam-notifier user='[[user]]'></wam-notifier>
        <iron-pages role="main" selected="[[page]]" attr-for-selected="name">
          <login-view name='login-view'></login-view>
          <episodes-view name='episodes-view' lineup='{{lineup}}' page='{{route.path}}'></episodes-view>
          <chapters-view name='chapters-view' lineup='{{lineup}}'
            episode='[[episodeRouteData.episode]]' path='{{route.path}}'
            can-play='{{canPlay}}'></chapters-view>
          <chapter-player id='chapterPlayer' can-play='{{canPlay}}' name='chapter-player' lineup='{{lineup}}' episode='[[episodeRouteData.episode]]' chapter='[[chapterRouteData.chapter]]' path='{{route.path}}'></chapter-player>
        </iron-pages>

      </app-header-layout>

    </app-drawer-layout>

  </template>

  <script>

    Polymer({

      is: 'wearemarcus-app',

      ready: function(){
        // this.page = 'episodes-view';
      },

      properties: {

        page: {
          type: String,
          value: 'login-view',
          reflectToAttribute: true,
          observer: '_pageChanged'
        },
        route: {
          notify: true,
          observer: '_routeChanged'
        },
        lastPage: {notify:true}

      },

      observers: [
        '_routePageChanged(routeData.page)'
      ],

      _routePageChanged: function(page) {
        if(page == 'chapters-view') this.lastPage ='#/'+ 'episodes-view';
        if(page == 'episodes-view') this.lastPage ='#/'+  'episodes-view';
        if(page == 'chapter-player') this.lastPage ='#/'+  'chapters-view';
        this.page = page || 'login-view';
        if(this.page == 'episodes-view' || this.page == 'chapters-view'){
          this.$.chapterPlayer.exitChapter && this.$.chapterPlayer.exitChapter();
        }

      },
      _routeChanged: function(route){
        console.log(route);
      },
      _pageChanged: function(page) {
        // load page import on demand.
        console.log(page);
        this.importHref(
          this.resolveUrl(page + '.html'), null, null, true);
      },
      _logout: function(e){
        this.fire('pouchdb-api-logout');
      },
      _goBack: function(e){
        console.debug('go back');
        console.debug('going from:\t\t',this.page);
        console.debug('to:\t\t',this.lastPage);
        if(this.lastPage){
          this.page = this.lastPage;
        }
      }
    });

  </script>

</dom-module>
